body {
    font-family: Arial, sans-serif;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }

  #result {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
  }

  #score {
    text-align: center;
    font-size: 16px;
  }